# Ambientes virtuais
.venv/
env/

# Cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs e configs locais
*.log
*.env
*.ini

# Arquivos temporários do sistema
.DS_Store
Thumbs.db

# Pastas do VSCode / IDEs
.vscode/
.idea/